h1 {color:brown} 
        img {width: 400px;}
        #thirDiv {height: 600;
                  width: 500;
                  background-color: coral;
                  padding: 50px;
                  border: 16px solid blueviolet;                  
                }
        #spanId{font-size: 18px;
        margin: 50px;} 